.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    background-color: midnightblue;
    color: white;
}
.logo_link{
    padding-left: 20px;
    cursor: pointer;
}
.logo {
    font-weight: 600;
    letter-spacing: 4px;
    font-size: 16px;
    color: #de6161;   
    color: -webkit-linear-gradient(to right, #2657eb, #de6161);  
    color: linear-gradient(to right, #2657eb, #de6161); 
}
.logo:hover{
    color: aquamarine;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

}
.list li:hover{
    color: aquamarine;
}
.lists{
    margin-right: 15px;
    cursor: pointer;
}

.lists a:hover{
    color: aquamarine;
}