.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
    background-color: midnightblue;
    color: white;
}
.logo_link{
    padding-left: 20px;
    cursor: pointer;
}
.logo {
    font-weight: 400;
    letter-spacing: 4px;
    font-size: 16px;
    color: #fff;
}
.logo:hover{
    color: aquamarine;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

}
.list li:hover{
    color: aquamarine;
}
.lists{
    margin-right: 15px;
    cursor: pointer;
}

.lists a:hover{
    color: aquamarine;
}