* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background: #24C6DC; 
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  
    background: linear-gradient(to right, #514A9D, #24C6DC); 
}
.wrapper {
    height: 100%;
    max-width: 1600px;
    max-width: 100%;
}

.hero{
    text-align: center;
    padding-bottom: 56px;
    color: #fff;
    font-weight: 600;
    font-size: 6vw;
    line-height: 6vw;
    margin: 0;
    background: url(./assets/img/dark_blue.png);
    background-size: 30%;
    background-position: 50% 50%;
    -webkit-background-clip: text;
    color: rgba(0,0,0,0.08);
    animation: zoomout 5s ease 500ms forwards;
}


.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    height: 100vh;
}



@keyframes zoomout {
    from {
      background-size: 40%;
    }
    to {
      background-size: 10%;
    }
  }