* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    /*width: calc(100vw - 100px);*/
    height: 100%;
    max-width: 1600px;
}
.container {
    margin: 0 auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;


}
.card_container{
    border: 1px solid #ccc;

}
.card__img{
    width: 287px;

}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 35px;
    border-radius: 5px;
    margin: 8px auto;
    border: none;
}
.loading{
    /*margin: 20px 0 20px 0;*/
    /*padding: 30px 50px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    height: 100vh;
}
.about__card{
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;

}